@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif+TC:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* font-weight: normal; */
  margin: 0;
  padding: 0;
}


:root {
  --primary-1: #5f8ea5;
  --primary-2: #7ba5b8;
  --secondary-1: #d19e8a;
  --secondary-2: #f6f1e4;
  --secondary-3: #f9f6ec;
}
body {
  background-color: var(--secondary-3);
}
.section {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  height: 56px;
}


.left {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.avatar {
  border-radius: 0px 0px 0px 224px;
  box-shadow: -20px 20px 0px var(--secondary-1);
  padding: 0;
}
.title1{
  position: relative;
  color: var(--secondary-1);
}
.cloudImg{
  position: absolute;
  width: 350px;
  height: 150px;
  top: 50%;  /* 可以根據需要調整 */
  left: 50%; /* 可以根據需要調整 */
  transform: translate(-50%, -50%); /* 將圖片中心對齊父元素的中心 */
  z-index: -1;
}

