@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif+TC:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

:root {
  --primary-1: #5f8ea5;
  --primary-2: #7ba5b8;
  --secondary-1: #d19e8a;
  --secondary-2: #f6f1e4;
  --secondary-3: #f9f6ec;
}

.left {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.avatar {
  width: 400px;
  height: 421.519px;
  flex-shrink: 0;
  /* border-radius: 0px 0px 0px 224px; */
  box-shadow: -20px 20px 0px var(--secondary-1);
}

